*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#mode-changer.light{
    --main: #fff;
    --main2:#777777;
    --secondary:#000;
}
#mode-changer.dark-mode{
    --main: #000;
    --main2:#777777;
    --secondary:#fff;
}

.whole-container{
    padding: 10%;
    background: url(./pexels-darya-sannikova-2422444.jpg);

    display: flex;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
 
}
.whole-container.dark-mode{
    filter: brightness(50%);
}
.login-box{
    display: flex;
    height: 60vh;
}
.blue-box{
    flex: 1;
    background-color: #2874F0;
    padding: 10% 5%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: var(--main);
}
.blue-box h1{
    margin-bottom: 20px;
}
.white-box{
    background-color: var(--main);
    color: var(--secondary);
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    flex: 2;
    padding: 5% 5%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.request-button{
    background-color: #FF5800;
    color: var(--main);
    padding: 5px 25px;
    border: none;
}
.blue-text{
    color: #2874F0;
}

/* #darkIcon{
    display: block;
    position: absolute;
    top: 30px;
    right: 50px;
    color: var(--secondary);
    font-size: 0px;
    transform: rotate(130deg) scale(1.6);
    cursor: pointer;
    z-index: 2;
} */
#darkIcon{
    display: block;
    position: absolute;
    top: 30px;
    right: 50px;
    color: var(--secondary);
    transform: rotate(130deg) scale(1.6);
    cursor: pointer;
    
}
#lightIcon{
    display: none;
    position: absolute;
    top: 30px;
    right: -117px;
    color: var(--secondary);
    transform: scale(1.6);
    cursor: pointer;
}
.close{
    position: relative;
    left: 110%;

    height: 5px;
    width: 50px;
    transform: rotate(45deg) translateY(-400%);
    background-color: var(--main);
}
.close::after{
    position: absolute;
    content: '';
    display: block;
    background-color: var(--main);
    height: 5px;
    width: 50px;
    top: 0;
    transform: rotate(90deg);
}
.upper-section{
    padding-top: 10%;
}
.upper-section input{
    border: none;
    border-bottom: 1px solid var(--main2);
    height: 40px;
    color: var(--secondary);
    width: 100%;
    font-size: medium;
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: var(--main);
}
.upper-section input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--main2) ;
}
.upper-section input:focus::placeholder{
    position: absolute;
    top: 0px;
    left: 0px;
    transform: scale(.8);
    padding: 0;

}
.request-button{
    padding: 15px 30px;
    font-size: medium;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 5px;
}

